* {
    box-sizing: border-box;
}

body, html {
    /* width: 100%;
    height: 100%; */
    background-color: grey;
}

.page {
    border: 2px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.etch-a-sketch {
    display: grid;
    gt
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    align-content: flex-start;
    border: 2px solid black;
}

.pixel {
    background-color: white;
}